body {
    background-image: url('/static/img/blob-scene-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EEF0F7;
}